/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
*{

margin: 0;
padding: 0;
box-sizing: border-box;
scroll-padding-top: 2rem;
scroll-behavior: smooth;
list-style: none;
text-decoration: none;
font-family: 'Raleway', sans-serif;
font-weight: 900;
}
:root{
    --main-color: rgb(90, 138, 72);
    --second-color: rgb(157, 209, 131);
    --text-color: rgb(7, 0, 0);
    --gradient: linear-gradient(rgb(90, 138, 72),rgb(157, 209, 131));
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color );
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(244, 232, 232);
    padding: 15px 100px;
    font-weight: bolder;

}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: bolder;
}
.navbar a::after{
    width: 100%;
    content: '';
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 900;
}
.header-btn .sign-in{
    background: rgb(111, 177, 123);
    color: whitesmoke;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: var(--main-color);
}
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(Audi\ Q7.jpg); 
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text h1{
font-size: 3.5rem;
font-weight: bolder;
letter-spacing: 1px;
}
text span{
    color: var(--main-color);
}
.text p{
    margin: 00.5rem 0 1rem;
}
.app-stores{
   display: flex;
}
.app-stores img{
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;

}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 0.2rem;
    font-size: 15px;
    font-weight: 900;
}
.input-box{
    flex: 0 0 1rem;
    display: flex;
    flex-direction: row;
}
.input-box span{
    font-weight: 500;
    font-size: 500;
}
.input-box input{
    padding: 5px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}
.form-container form .btn{
    flex: 0 0 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    background: rgb(73, 116, 73);
    color: white;
    font-size: 1rem;
    font-weight: 900;
 }
 .form-container form .btn:hover{
    background-color: var(--main-color);
 }
.heading h1{
    font-size: 4rem;
    align-items: center;
}
.buy-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.buy-container .box{
    text-align: center;
    padding: 20px;
}
.buy-container .box .bx{
    font-size: 24px;
    padding: 10px;
    background: #65a576;
    border-radius: 0.5rem;
    color: var(--main-color);
}
.buy-container .box h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.services-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(55%, auto));
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}
.services-container .box{
     padding: 25px;
     border-radius: 1rem;
     box-shadow: 60px 60px 60px rgba(0, 0, 0, 0.1);
     box-sizing: border-box;
     image-resolution: 100%;
     align-items: center;
}
.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p{
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3{
    font-weight: 500;
}
.services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);

margin: 0.2rem 0 0.5rem;
}
.services-container .box .btn{
    display: flex;
    justify-content: center;
    background: #62a374;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover{
    background: var(--main-color);
}
